body{
    background-color: rgb(60, 60, 150);
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    border: 2px solid rgb(100, 150, 200)
}

/*.todo{
    text-align: center;
    padding: 20px;
}*/

h1{
    color: lightgrey;
    text-align: center;
}

input{
    margin: 5px;
}

ul{
    padding-left: 200px;
}

button{
    margin-left: 200px;
    text-align: center;
}

span{
    border: 1px solid lightgrey
}